<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Adding the thruster units with the macro created in rov_example_snippets.xacro -->
  <!--
  <xacro:thruster_macro
    robot_namespace="${namespace}"
    thruster_id="0">
    <origin xyz="0.2 0.2 0.2" rpy="0 0 ${pi}" />
  </xacro:thruster_macro>
  -->
</robot>
