<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Adding the thruster units with the macro created in rov_example_snippets.xacro -->

  <xacro:thruster_macro
    robot_namespace="${namespace}"
    thruster_id="0">
    <origin xyz="0.2 0.2 0.2" rpy="0 0 ${pi}" />
  </xacro:thruster_macro>
<!--
  <xacro:thruster_macro
    robot_namespace="${namespace}"
    thruster_id="1">
    <origin xyz="0 0 0" rpy="0 0 ${pi}" />
  </xacro:thruster_macro>

  <xacro:thruster_macro
    robot_namespace="${namespace}"
    thruster_id="2">
    <origin xyz="0 0 0" rpy="0 -${0.5*pi} 0" />
  </xacro:thruster_macro>

  <xacro:thruster_macro
    robot_namespace="${namespace}"
    thruster_id="3">
    <origin xyz="0 0 0" rpy="pi 0 ${pi}" />
  </xacro:thruster_macro>

  <xacro:thruster_macro
    robot_namespace="${namespace}"
    thruster_id="4">
    <origin xyz="0 0 0" rpy="-pi/2 0 ${pi}" />
  </xacro:thruster_macro>

  <xacro:thruster_macro
    robot_namespace="${namespace}"
    thruster_id="5">
    <origin xyz="0 0 0" rpy="pi/2 -${0.5*pi} 0" />
  </xacro:thruster_macro>
-->
</robot>
