<launch>

  <node name="imu1" pkg="robocol_rov" type="imu_node.py" args="imu1 link1 link2">
  </node>

  <node name="imu2" pkg="robocol_rov" type="imu_node.py" args="imu2 link2">
  </node>

  <node name="imu3" pkg="robocol_rov" type="imu_node.py" args="imu3 link1">
  </node>

  <node name="link1" pkg="robocol_rov" type="link_node.py" args="link1 imu1 imu3">
  </node>

  <node name="link2" pkg="robocol_rov" type="link_node.py" args="link2 imu1 imu2">
  </node>

</launch>
